@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
    background-color: black;
    font-family: "IBM Plex Sans", sans-serif;
    /* border: 1px solid white; */
}

.bar {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    z-index: 1111;
}

@media (max-width: 576px) {
    .bar {
        height: 12vh;
        left: 0;
        width: 100%;
        padding-bottom: 2vh;
    }

    .nav2,
    .nav-item {
        border-radius: 50px;
    }

}

.navbar-main {
    background-color: navy;
    height: 12vh;
    border-radius: 50px;

    margin-top: 5vh;


    width: 90%;
    padding: 0 20px;

    box-shadow:
        rgba(255, 255, 255, 0.12) 0px 2px 4px,
        rgba(255, 255, 255, 0.32) 0px 2px 16px;

    z-index: 9999;
}

.navbar2 {
    background-color: navy;
    border-radius: 50px;
}

.nav2,
.nav-item,
.navbar-toggler,
.navbar-toggler-icon {
    background-color: rgba(0, 0, 128, 0);
}

.navbar-brand {
    background-color: navy;
}

.nav-link {
    background-color: navy;
}

.weih {
    width: 5vw;
}


.container-fluid {
    padding: 0 !important;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
    background-color: black;
    font-family: "IBM Plex Sans", sans-serif;
}


.navbar-main {
    background-color: navy;
    height: 12vh;
    border-radius: 50px;

    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    padding: 0 20px;

    box-shadow:
        rgba(255, 255, 255, 0.12) 0px 2px 4px,
        rgba(255, 255, 255, 0.32) 0px 2px 16px;

    z-index: 9999;
}

.navbar2 {
    background-color: navy;
    border-radius: 50px;
}

.navbar-brand {
    background-color: navy;
}

.nav-link {
    background-color: navy;
}

.weih {
    width: 5vw;
}

.container-fluid {
    padding: 0 !important;
}

.home {
    position: relative;
    z-index: 1000;
    top: 25vh;
    padding-bottom: 15vh;
}

img {
    height: 70vh;
    width: 50vh;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow:
        rgba(255, 255, 255, 0.12) 0px 2px 4px,
        rgba(255, 255, 255, 0.32) 0px 2px 16px;

}

.class {
    padding-top: 5vh;
}

@media (max-width:576px) {
    .class {
        padding: 2vh 0 5vh 0;
    }

    .class1 {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

.button {
    height: 8vh;
    width: 22vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50px;
    box-shadow:
        rgba(255, 255, 255, 0.12) 0px 2px 4px,
        rgba(255, 255, 255, 0.32) 0px 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.href1 {
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    width: 20vh;
}

.button:hover {
    background-color: #2f56ff;
    color: aliceblue;
    transform: scale(1.1);
    transition-duration: 1s;

}

.class1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    /* width: 115vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt {
    width: 100%;
    color: #2d5dff;
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

li {
    color: aliceblue;
}

.abt1 {
    margin-bottom: 15vh;
}

.skill {
    color: #2d5dff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin-bottom: 5vh;
    margin-top: 10vh;
}

.Tool {
    color: #2d5dff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin: 10vh;
}

.index {
    max-width: 20vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 100px;
    box-shadow:
        rgba(255, 255, 255, 0.12) 0px 2px 4px,
        rgba(255, 255, 255, 0.32) 0px 2px 16px;

    &:hover {
        color: aliceblue;
        background-color: #2d5dff;
        transform: scale(1.1);
        transition-duration: 1s;
    }
}

.indexo {
    max-width: 20vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 100px;
    box-shadow:
        rgba(255, 255, 255, 0.12) 0px 2px 4px,
        rgba(255, 255, 255, 0.32) 0px 2px 16px;

    /* margin-bottom: 15vh; */
    &:hover {
        color: aliceblue;
        background-color: #2d5dff;
        transform: scale(1.1);
        transition-duration: 1s;
    }
}

.skill-list {
    width: 100%;
    gap: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    padding-top: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d5dff;
    padding-bottom: 5vh;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
.text{
    color: #2d5dff;
    padding-bottom: 1vh;
}
.iconss{
    gap: 2vh;
    font-size: 1.3rem;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.href5{
        color: aliceblue;

}
.home{
    padding-top: 15vh;
}
.twe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
